@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP:wght@900&family=Noto+Sans+KR:wght@900&family=Noto+Sans+SC:wght@900&family=Noto+Sans+TC:wght@900&display=swap');
/* Note (hacky workaround): font-weight isn't working for Google imported fonts, so use Noto Sans JP for super bold, and Noto Sans for regular */
/* Some countries (e.g. South Korea) have categories in their own language, so import as many versions as possible and use as fallback just in case */

html, body, #root, .App {
  height: 100%;
  background-color: #666699;
  display: flex;
  flex-direction: column;
}

.Wrapper {
  flex: 1 0 auto;
}

.Title {
  text-align: center;
  color: #66ccff;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 25px;
}

h1 {
  font-size: 72pt !important;
}

.PlaylistForm {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
  width: 300px;
  margin: auto;
}

.Select {
  padding-bottom: 25px;
}

.ButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.Hidden {
  opacity: 0;
  visibility: hidden;
}

.FadeOut {
  opacity: 0;
  transition: opacity 0.5s;
}

.FadeIn {
  opacity: 1;
  transition: opacity 0.5s;
}

.PlaylistContent {
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 250px;
}

.PlaylistCards {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding-bottom: 25px;
}

.CardCol {
  display: flex;
  min-width: 250px;
}

.BoldText {
  font-family: 'Noto Sans JP', sans-serif;
}

.Footer {
  flex-shrink: 0;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: right;
  padding-right: 10px;
}

.FooterLink {
  color: #66ccff;
  text-decoration: none !important;
}