.Title {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: #66ccff;
  padding: 25px;
}

h1 {
  font-size: 72pt !important;
}

.PlaylistForm {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Noto Sans JP', sans-serif;
  width: 250px;
  margin: auto;
}

.Select {
  padding-bottom: 25px;
}

.ButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.FadeOut {
  opacity: 0;
  transition: opacity 0.5s;

}

.FadeIn {
  opacity: 1;
  transition: opacity 0.5s;
}

.PlaylistContent {
  margin-top: 25px;
  margin-bottom: 25px;
}

.PlaylistCards {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

.CardCol {
  display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');